export ENV=local
export GIVING_BLOCK_PASSWORD=somepassword
export GIVING_BLOCK_USERNAME=sandclock
export GRAPH_URL=http://127.0.0.1:8000/subgraphs/name/sandclock-eth
export MNEMONIC="the mnemonic words and such"
export POSTGRESQL_PASSWORD=postgres
export POSTGRESQL_USER=postgres
export REDIS_URL="redis://127.0.0.1:6379"
export RPC_URL=http://127.0.0.1:8545
export SENTRY_DSN=https://sentry-dsn-url
export STRATEGY=0xFa7447c91989141De3Fd4988810e358119EF2e7f
export VAULT=0x1c8967Af415b1516c96c08880aA0E87e82161b9a
